.card{
  min-width: 180px;
  cursor: pointer;
  transition: .3s;

  img{
    width: 100%;
    border-radius: 6px;
  }

  p{
    color: white;
    margin-top: 5px;
    font-size: 14px;
  }

  &:hover{
    transform: scale(1.2);
    z-index: 10;
  }
}